@media only screen and (max-width:668px) {
    .container {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 25px;
    }

    .player {
        align-items: center;
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
        
        width: 100%;
    }
    .blog  {
        grid-template-columns: repeat(1,1fr);
        
    }
    .blog img{
        width: 100%;
    }


    .course-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

}
/* sereen up to 688 */
@media only screen and (max-width:992px) {
    
}