@media only screen and (max-width:668px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 25px;
    }

    .player {
        align-items: center;
        flex-direction: column;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);

    }

    .blog img {
        width: 100%;
    }

    .course-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

}

/* sereen up to 688 */
@media only screen and (min-width:668px) and (max-width:982px) {
    .container {
        padding: 35px
    }

    .container,
    .blogs,
    .course-box {
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }


    .course-box {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .thumbnail img {
        width: 100%;
    }
}